/* Styly pro body prvku v HTML souboru */
body {
    margin: 0;
    background: pink;
    text-align: center;
    overflow: hidden; /* Schovává obsah, který přesahuje rozměry okna prohlížeče */
}

/* Styly pro container */
.container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styly pro uhýbací text */
.bending-text {
    position: absolute;
    transition: transform 0.3s ease-in-out; /* Plynulý přechod transformace */
    cursor: pointer; /* Ukazatel myši při najetí na text */
}

/* Styly pro kontejner plamenů */
.flames-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1; /* Plameny jsou pod obsahem */
}

/* Styly pro plameny */
.flame {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff8400;
    border-radius: 50%;
    opacity: 0.8;
    animation: flame-rise 3s linear infinite alternate, flame-flicker 0.1s infinite;
}

@keyframes flame-rise {
    0% {
        bottom: -20px;
    }
    100% {
        bottom: calc(100% + 20px);
    }
}

@keyframes flame-flicker {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
}

/* Dodatečné styly pro umístění plamenů */
.flame:nth-child(1) {
    left: 10%;
}

.flame:nth-child(2) {
    left: 30%;
}

.flame:nth-child(3) {
    left: 50%;
}
