/* Styly pro body prvku v HTML souboru */
body {
    margin: 0;
    background: pink;
    text-align: center;
}

/* Styly pro uhýbací text */
.bending-text {
    transition: transform 0.3s ease-in-out; /* Plynulá změna vlastnosti transform */
}
.bending-text:hover {
    transform: translateY(10px); /* Posunutí textu o 10px dolů při najetí kurzorem */
}
