/* Styly pro body prvku v HTML souboru */
body {
    margin: 0;
    background: pink;
    text-align: center;
}

/* Styly pro uhýbací text */
.bending-text {
    transition: transform 0.3s ease-in-out; /* Plynulá změna vlastnosti transform */
}
.bending-text:hover {
    transform: translateY(10px); /* Posunutí textu o 10px dolů při najetí kurzorem */
}

/* Styly pro rotující text */
.rotating-text {
    display: inline-block;
    animation: rotate 5s linear infinite; /* Rotace každých 5 sekund */
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
