/* Styly pro body prvku v HTML souboru */
body {
    margin: 0;
    background: pink;
    text-align: center;
}

 /* Styly pro uhýbací text */
 .bending-text {
    position: relative;
}

.bending-text.hover {
    animation: move 2s linear infinite alternate; /* Animace trvá 5 sekund, lineární přechod, opakuje se nekonečně a střídá směry */
}

@keyframes move {
    0%, 100% { 
        /* Výchozí pozice */
        transform: translate(0, 0);
    }
    25% {
        /* Pohyb vpravo */
        transform: translate(20px, 0);
    }
    50% {
        /* Pohyb dolů */
        transform: translate(0, 20px);
    }
    75% {
        /* Pohyb vlevo */
        transform: translate(-20px, 0);
    }
}


/* Styly pro rotující text */
.rotating-text {
    display: inline-block;
    animation: rotate 5s linear infinite; /* Rotace každých 5 sekund */
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
